[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.2.6"
django-autoslug = "==1.9.9"
pillow = "==10.1.0"
sqlparse = "==0.4.4"
tzdata = "==2023.3"

[dev-packages]

[requires]
python_version = "3.11"
