{% extends "core/base.html" %}
{% block content %}
    {% include "core/navbar.html" %}
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 mx-5">
        {% for movie in movies %}
            <div class="border border-gray-400 p-2 rounded-lg">
                <img oncontextmenu="return false;"
                     class="h-48 w-48 object-cover mx-auto rounded-md"
                     src="{{ movie.poster.url }}"
                     alt="{{ movie.title }}">
                <div class="mt-4">
                    <a href="{% url 'movie-detail' movie.slug %}">
                        <h2 class="text-lg font-mono text-center">{{ movie.title }}</h2>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
