{% extends "core/base.html" %}
{% block content %}
    <div class="container">
        <h2 class="text-white font-Nosifer text-start text-3xl mx-5 my-3">All Movies</h2>
        <form class="flex w-auto mx-5 space-x-1"
              action="{% url 'search-movie' %}"
              method="post">
            {% csrf_token %}
            <input class="p-2 capitalize outline-none font-mono flex-auto rounded-md"
                   type="text"
                   name="search"
                   placeholder="Search movies">
            <button class="bg-blue-600 rounded-md p-2 text-white" type="submit">Search</button>
        </form>
        {% for movie in movies %}
            <div class="bg-white p-2 m-5 capitalize rounded-lg">
                <div class="">
                    <img class="rounded-lg object-cover h-48 w-full"
                         src="{{ movie.poster.url }}"
                         alt="{{ movie.title }}">
                </div>
                <div class="bg-white p-2">
                    <p>
                        <a href="{% url 'single-movie' movie.slug %}">Name: {{ movie.title }}</a>
                    </p>
                    <p>Released year: {{ movie.released }}</p>
                    <p>available quality: {{ movie.qualities }}</p>
                    <div>
                        {% for language in movie.languages.all %}<p>Language: {{ language.name }}</p>{% endfor %}
                    </div>
                    <!-- video player part -->
                    <div>
                        {% for network in movie.networks.all %}<p>Network: {{ network.name }}</p>{% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
