{% extends "core/base.html" %}
{% block content %}
    <div class="text-center">
        {% include "core/new_nav.html" %}
        {% for movie in movies %}
            <div class="bg-white p-2 my-3 mx-5 capitalize rounded-lg">
                <div class="">
                    <img class="rounded-lg object-cover h-48 w-full"
                         src="{{ movie.poster.url }}"
                         alt="{{ movie.title }}">
                </div>
                <div class="bg-white p-2">
                    <p>
                        <a href="{% url 'single-movie' movie.slug %}">Name: {{ movie.title }}</a>
                    </p>
                    <p>Released year: {{ movie.released }}</p>
                    <p>available quality: {{ movie.qualities }}</p>
                    <div>
                        {% for language in movie.languages.all %}<p>Language: {{ language.name }}</p>{% endfor %}
                    </div>
                    <div>
                        {% for network in movie.networks.all %}<p>Network: {{ network.name }}</p>{% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
