<div class="mx-5 my-2 p-2 border border-gray-400 rounded-md capitalize font-mono">
  {% if not movie.comments.all %}
  <p class="font-mono">No comments yet...</p>
  {% else %}
  {% for comment in movie.comments.all %}
  <span class="text-gray-300">{{ comment.name }}:</span> <span>{{ comment.feedback }}</span><br>
  <span class="text-sm text-gray-500">
    {% if comment.created != comment.updated %}
    {{ comment.updated }} (updated)
    {% else %}
    {{ comment.created }} (created)
    {% endif %}
  </span>
  <br>
  {% endfor %}
  {% endif %}
</div>
