<div class="mx-5 font-mono my-2 border border-gray-400 capitalize rounded-md p-2">
  <p>Name: {{movie.title}}</p>
  <p>Released: {{movie.released}}</p>
  <div>
    published by: {{ movie.user }}
  </div>
  <p>published: {{movie.published}}</p>
  <p>updated: {{movie.updated}}</p>
  {% for language in movie.languages.all %}
  <p>languages: {{language.name}}</p>
  {% endfor %}
  {% for network in movie.networks.all %}
  <p>networks: {{network.name}}</p>
  {% endfor %}
  <p>qualities: {{movie.qualities}}</p>
</div>
