{% extends "core/base.html" %}
{% block content %}
    {% include "core/navbar.html" %}
    <!-- description -->
    <div class="mx-5 font-mono my-2 border capitalize rounded-md p-2">
        <p>Name: {{ movie.title }}</p>
        <p>Released: {{ movie.released }}</p>
        <div>published by: {{ movie.user }}</div>
        <p>published: {{ movie.published }}</p>
        <p>updated: {{ movie.updated }}</p>
        {% for language in movie.languages.all %}<p>languages: {{ language.name }}</p>{% endfor %}
        {% for network in movie.networks.all %}<p>networks: {{ network.name }}</p>{% endfor %}
        <p>qualities: {{ movie.qualities }}</p>
    </div>
    <!-- users' comments -->
    <div class="mx-5 my-2 p-2 border rounded-md capitalize font-mono">
        {% if not movie.comments.all %}
            <p class="font-mono">No comments yet...</p>
        {% else %}
            {% for comment in movie.comments.all %}
                <span class="">{{ comment.name }}:</span> <span>{{ comment.feedback }}</span>
                <br>
                <span class="text-sm">
                    {% if comment.created != comment.updated %}
                        {{ comment.updated }} (updated)
                    {% else %}
                        {{ comment.created }} (created)
                    {% endif %}
                </span>
                <br>
            {% endfor %}
        {% endif %}
    </div>
    <!-- comment form -->
    <div class="mx-5 my-2 p-2 border font-mono capitalize rounded-md">
        <form method="post">
            <label for="name">Your name:</label>
            <input class="bg-transparent capitalize rounded-md p-2 my-2 block w-full"
                   type="text"
                   name="name"
                   placeholder="Your name please">
            <label for="feedback">Your feedback:</label>
            <input class="bg-transparent capitalize rounded-md p-2 my-2 block w-full"
                   type="text"
                   name="feedback"
                   placeholder="Your feedback">
            <div class="text-center">
                <input class="border text-center py-2 px-5 my-2 rounded-md"
                       type="submit"
                       value="Submit">
            </div>
        </form>
    </div>
{% endblock content %}
