<div class="font-mono">
  <div class="flex my-4 mx-5">
    <h2 class=" w-full text-center text-[#3A4D39] py-2 text-3xl">
      <a href="{% url 'all-movies' %}">MoviesHub</a>
    </h2>
  </div>

  <form action="{% url 'search-movie' %}" method="post">
    {% csrf_token %}
    <div class="flex mb-4 mx-5 rounded-md border border-[#3A4D39]">
      <input class="flex-auto py-2 px-4 border-none rounded-md" type="text" name="searched"
        placeholder="Search Movies..." />
      <button class="flex-none py-2 px-4 rounded-md bg-[#4F6F52] text-white" type="submit">
        Search
      </button>
    </div>
  </form>
</div>
