<div class="text-gray-400 font-mono placeholder-gray-400">
  <div class="flex my-4 mx-5">
    <h2 class="w-full py-2 rounded-md text-3xl">MoviesHub</h2>
  </div>

  <form action="{% url 'search-movie' %}" method="post">
    {% csrf_token %}
    <div class="flex mb-4 mx-5 rounded-md">
      <input class="flex-auto bg-transparent border border-r-0 border-gray-400 rounded-l-md outline-none py-2 px-4"
        type="text" name="searched" placeholder="Search Movies...">
      <button class="flex-none bg-transparent border border-gray-400 rounded-r-md py-2 px-4"
        type="submit">Search</button>
    </div>
  </form>
</div>
