{% extends "core/base.html" %}


{% block content %}
<div class="m-3">
  <h2 class="text-white text-3xl">MoviesHub</h2>
  <div class="bg-white p-2 my-3 rounded-lg">
    <p>Name: {{movie.title}}</p>
    <p>Released year: {{movie.released}}</p>
    <p>Published: {{movie.published}}</p>
    <p>Description: {{movie.description}}</p>
  </div>
  <!-- video part -->
  <div class="bg-white my-3 rounded-lg">
  </div>
 <!-- comment part -->
  <div>
    {% include "core/comment_form.html" %}
  </div>
</div>
{% endblock %}
